{% extends '::base.html.twig' %}

{% block body -%}
    <div class="divContenedor">
        <h1>Reservacion creation</h1>

        {{ form(formHuesped) }}
        {{ form(form) }}

        <ul class="record_actions">
            <li>
                <a href="{{ path('reservacion') }}">
                    Back to the list
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
